
<div id="messages" class="messages">
</div>

<div id="container">

	
		<h3>Novo Ramal</h3>
	
		<form class="bs-docs-example form-horizontal" id="id_form_ramal_create" action="#" method="post"> 
			<input name="ramal[id]" id="id_input_id" type="hidden" placeholder="Nome" value="" />

			<div class="control-group">
				<label class="control-label" for="name">Nome</label>
				<div class="controls">
					<input name="ramal[name]" id="id_input_name" type="text" placeholder="Nome" value=""/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="number">Numero</label>
				<div class="controls">
					<input id="id_input_number" name="ramal[number]" type="text" placeholder="Ramal" value=""/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="local">Local</label>
				<div class="controls">
					<input id="id_input_local" name="ramal[local]" type="text" placeholder="Local" value=""/>
				</div>
			</div>

			<div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Add</button>
              </div>
            </div>
		</form>
	

</div>



