$('#search_bn').click(function(){
	console.log('Respondeu'); 
});

$('#search_bn').click(function() {
		//console.log('Respondeu');
		//console.log($("#term").val());
		var url = "/search/search_ramal"
		$.ajax({
			type: "POST",
			url: url, 
			data: {busca: $("#term").val()}
		}).done(function(json) {
			$.build_result(json);
		});
	});

	$.build_result = function(json) {
		//console.log("Pesquisa realizada com sucesso " + json);
		$('#id_form_result').empty();
		$.each(json, function(index,item) {
			$('#id_form_result').append("<p>" + item.name + " - " + item.number + "</p>");
		});
	};